<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="fuzzy" />
    <meta name="keywords" content="fuzzy" />
    <meta name="author" content="fuzzy" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="assets/images/logo/favicon.png" type="image/x-icon" />
    <title>fuzzy app</title>
    <link rel="apple-touch-icon" href="assets/images/logo/favicon.png" />
    <meta name="theme-color" content="#122636" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="fuzzy" />
    <meta name="msapplication-TileImage" content="assets/images/logo/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	
    <meta name="google" value="notranslate">
    
 
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendors/iconsax.css" />

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="assets/css/vendors/bootstrap.min.css" />
    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="assets/css/style.css" />
  </head>

<body data-page="order" >



    <!-- header start -->
    <header class="section-t-space">
      <div class="custom-container">
        <div class="header-panel">
          <a href="cart.php">
            <i class="iconsax back-btn" data-icon="arrow-left"></i>
          </a>
          <h3>Оформление заказа</h3>

        </div>
      </div>
    </header>
    <!-- header end -->







    <!-- shipping section start -->
    <section class="">
      <div class="custom-container">
        <div class="shipping-section">
          <h2>Адрес доставки</h2>
          <a href="address.html" class="shipping-type p-3 mt-3">
            <div class="d-flex align-items-center gap-2">
              <i class="iconsax icon" data-icon="truck-fast"></i>
              <h4 id="adres">Укажите адрес доставки</h4>
            </div>
            <i class="iconsax icon" data-icon="chevron-right"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- shipping section end -->











    <!-- checkout section start -->
    <section>
      <div class="custom-container">
        <div id="order-message" class="alert alert-info"></div>
      </div>
    </section>
    <!-- checkout section end -->

    <!-- shipping section start -->
	
	
	<section>
      <div class="custom-container">
        <div class="address-section">
          <h2>Способ доставки</h2>
		  
          <div class="shipping-type mt-3">



		    <div class="form-group">

                <div >
				
				


				
				
                    <input type="hidden" name="delivery_type" id="delivery-type" value="" />
                    <input type="hidden" name="delivery_summa" id="delivery-summa" value="0" />
                    <input type="hidden" name="full_summa" id="full-summa" value="0" />
                   <!-- <div class="radio">
                        <label><input type="radio" name="delivery" class="js-delivery-type" data-type="Самовывоз" data-summa="0" data-procent="0.30" checked>Самовывоз (Скидка 30%)</label>
                    </div> -->
                    <div class="radio">
                        <label><input type="radio" name="delivery" class="js-delivery-type" data-type="В пределах КАД" data-summa="150" data-procent="0" checked>Доставка курьером (≈ 40 минут)</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="delivery" class="js-delivery-type" data-type="Почта России" data-summa="200" data-procent="0">Яндекс доставка (≈ 20 минут)</label>
                    </div>
                    <br />
                    <div id="alert-delivery" class="alert alert-info"></div>
                </div>
            </div>





          </div>
        </div>
      </div>
    </section>
	
	
	




    <!-- billing section start -->
    <section class="bill-details section-b-space">
      <div class="custom-container">


        <a href="#" class="btn theme-btn w-100">Отправить заказ</a>
      </div>
    </section>
    <!-- billing section start -->

    <!-- iconsax js -->
    <script src="assets/js/iconsax.js"></script>


    <script id="order-message-template" type="text/template">
        <% if (count !== 0) { %>
            Выберите способ доставки  нажмите кнопку Отправить заказ.
        <% } else { %>
            Ваша корзина пуста.
        <% } %>
    </script>
	
	
	
	
	
		
<script>



	const address_dostavki = window.localStorage.address_dostavki;

console.log(window.localStorage.candyName); // name=user; date=10.01.2021; fullname=Ivanov

if (address_dostavki) {


setTimeout(function() { document.getElementById("adres").innerHTML = address_dostavki; }, 1000);

}

else {

document.getElementById("adres").innerHTML = "Укажите адрес доставки";

}








</script>
	
	
	
	

    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.cookie.js" type="text/javascript"></script>
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/modules/cart.js" type="text/javascript"></script>
    <script src="js/modules/order.js" type="text/javascript"></script>
    <script src="js/modules/compare.js" type="text/javascript"></script>
    <script src="js/modules/main.js" type="text/javascript"></script>
	
	    <!-- script js -->
    <script src="assets/js/script.js"></script>
  </body>
</html>
